#sand img{
    background-color: #f1f1f1;
    margin-left: 5px;
    margin-bottom: 20px;
    width: 300px;
    height: 500px;
}

#drambo img{
    background-color: #f1f1f1;
    margin-left: 5px;
    margin-bottom: 20px;
    width: 400px;
    height: 500px;
}